.circle {
  width: $name-circle-size;
  height: $name-circle-size;
  border-radius: $name-circle-size / 4;
  font-size: $name-circle-size / 2;
  font-weight: bold;
  color: #fff;
  line-height: $name-circle-size;
  text-align: center;
  // background: $gray-lighter;
  background: $brand-primary;
  margin-right: $name-circle-size / 4;
}
