<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <h1>{{ visitors.title }}</h1>

  </div>
</div>

<div class="row top-buffer">
  <div class="col-md-8 col-md-offset-2">

    <ul class="media-list">
      <li ng-repeat="person in visitors.people | orderBy:'+time'"" class="media">
        <div class="media-left">
          <a href="#">
            <div class="circle">{{ person.name | TruncateFilter:true:1:''}}</div>
          </a>
        </div>
        <div class="media-body">
          <h2 class="media-heading">{{ person.name }}<br /><small>since {{ person.time }} minutes</small></h2>
        </div>
      </li>
    </ul>

  </div>
</div>
