<div class="row">
  <div class="col-md-8">

    <h1 class="hidden-xs">{{ visitors.title }}</h1>
    <h1 class="visible-xs text-center">{{ visitors.title }}</h1>

  </div>
</div>

<div class="row top-buffer">
  <div class="col-md-8">

    <ul class="media-list">
      <li ng-repeat="person in visitors.people" class="media">
        <div class="media-left">
          <a href="#">
            <div class="circle">{{ person.name | TruncateFilter:true:1:' '}}</div>
          </a>
        </div>
        <div class="media-body">
          <h2 class="media-heading">{{ person.name }}<br /><small>with {{ visitors.transformDevices(person.devices) }}</small></h2>
        </div>
      </li>
    </ul>

  </div>
</div>
